@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Global */
#content {
  padding: 30px 50px;
}
body {
  max-width: 100%;
}
.footer {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  background: #333;
  color: #fff;
}
@media screen and (max-width: 768px) {
  header,
  .nav__links,
  .container-post {
    flex-direction: column;
  }

  .nav__links li {
    margin-top: 10px;
  }
}

/* Post  */
.container-post {
  justify-content: center;
  margin: 20px 0px;
  display: flex;
}

.post {
  margin: 10px;
  height: 300px;
  width: 300px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.post:hover:before {
  opacity: 5;
}
.post:hover .info {
  opacity: 1;
}
.post:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.post img {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.post .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transition: 0.5s;
  margin: auto;
}

.post .info h1 {
  margin: 0px;
}
.post .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}

/* Navbar */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  /* background-color: #ffffff; */
}
li,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: white;
}

.nav__links {
  display: flex;
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
}

/* Banner */
#banner {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background-color: #0088a9;
}

#banner img {
  width: 100%;
}
